name: github pages

on:
  push:
    branches:
      - main  # Set a branch to deploy

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false  # Fetch Hugo themes as submodules if true
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install

        # run: npm i @fullhuman/postcss-purgecss

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: env HUGO_ENV="production" WC_POST_CSS="true" hugo --gc --minify -b https://anilzen.github.io

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
